/*////////////////////////////!*Header*!/////////////////////////////////*/
body{
    width: 1920px;
    margin:0 auto;
}

.container {
    width: 1160px;;
    margin: 0 auto;
    position: relative;
}

.container-1 {
    background-image: url("../img/section-1(header).jpg");
    height: 1012px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.first-content {
    height: 120px;
    opacity: 0.6;
    background-color: #353535;
}

.main-content {
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}

.right-content-item {
    text-decoration: none;
    color: #b8b8b8;
    margin-right: 10px;;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    position: relative;
}

.right-content-item:hover::after {
    content: "";
    background-color: #18cfab;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -49px;
    left: 0;
}

.right-content-item:hover {
    color: #18cfab;
    transition: 0.4s;
}

.hexagon {
    width: 60px;
    height: 35px;
    background: #18cfab;
    position: relative;
    margin: 48px 0;
}

.hexagon::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 18px solid #18cfab;
}

.hexagon::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 18px solid #18cfab;
}

.hexagon-text {
    color: #fff;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 15px;
    top: -4px;
}

.hexagon-words {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin-right: 292px;
    margin-left: 8px;
}

.hexagon-words-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #18cfab;
    font-size: 32px;
}

.fa-search {
    color: #bbbbbb;
    text-decoration: none;
}

.fa-search:hover {
    color: #18cfab;
}

.hexagon-words{
    text-decoration: none;
}

.second-content-text-1{
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    margin-top: 240px;
    text-align: center;
}

.second-content-text-1-style{
    color: #18cfab;
}

.second-content-text-2{
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 79px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
}

.second-content-text-3{
    color: #d4d4d4;
    font-family: Montserrat,sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 84px;
    text-align: center;
}

.second-content-btn{
    display: flex;
    justify-content: center;
    margin-top: 135px;
}

.second-content-btn-1{
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 4px;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 61px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-top: 4px solid white;
}

.second-content-btn-2{
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    border-radius: 4px;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 61px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-left: 25px;
    border-top: 4px solid white;
}
/*////////////////////////////////!*CONTAINER-2*!///////////////////////////////////*/

.blocks{
    display: flex;
    flex-direction: row;
    position: relative;
}

.block-1{
    background-color: #1c2a33;
    width: 480px;
    height: 374px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid #18cfab;
}

.block-2{
    width: 480px;
    height: 374px;
    background-color: #18cfab;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid white;
    margin-bottom: 80px;
}

.block-1-content{
    background-image: url("../img/Forma_1.png");
    background-repeat: no-repeat;
    width: 58px;
    height: 97px;
}

.block-2-content{
    background-image: url("../img/Forma_1 (1).png");
    background-repeat: no-repeat;
    width: 93px;
    height: 75px;
}

.block-3-content{
    background-image: url("../img/Forma_1 (2).png");
    background-repeat: no-repeat;
    width: 60px;
    height: 96px;
}

.block-4-content{
    background-image: url("../img/Forma_1 (3).png");
    background-repeat: no-repeat;
    width: 99px;
    height: 76px;
}

.block-1-text{
    color: #18cfab;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 35px;
}

.block-2-text{
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}
/*//////////////////////////////!*CONTAINER-3*!///////////////////////////////////////*/

.service-title{
    color: #4e4e4e;
    font-family: Montserrat,sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    position: relative;


}

.service-title::before{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-left:918px;
    margin-top: 71px;
}

.service-title::after{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-top: 38px;
    margin-left:930px;
}

.tabs{
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.tabs-btn{
    width: 193px;
    height: 73px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    color: #717171;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 73px;
    list-style: none;
    text-align: center;
    cursor: pointer;
}

.active-tab{
    background-color: #18cfab;
    color: #ffffff;
}

.active-tab:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 24px solid #18cfab;
    position: absolute;
    bottom: -13px;
    left: 125px;
}

.tabs-btn:hover{
    background-color: #18cfab;
    color: #ffffff;
}

.tabs-panel{
    display: none;
    margin-top: 22px;

}

.tabs-panel.active{
    display:flex;
    justify-content: flex-start;
}

.tabs-img{
    width: 194px;
    height: 139px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.tabs-text{
    color: #777777;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: flex;
    justify-content: flex-end;
}
/*///////////////////////////!*CONTAINER-4*!///////////////////////////////////////////*/
.buy-content{
    background-image: linear-gradient(rgba(0,0,0,0.78),rgba(0,0,0,0.78)),url("../img/section-2.jpg");
    height: 474px;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 100px;
}

.buy-title{
    color: #18cfab;
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align:center;
    padding-top: 120px;
}

.buy-text{
    color: #d8d8d8;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
}

.buy-btn{
    width: 165px;
    height: 61px;
    background-color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
    margin-top: 75px;
    margin-left: 880px;
    border-radius: 5px;
    border-top: 4px solid white;
}
/*/////////////////////////!*CONTAINER-5*!////////////////////*/

.container-5{
    background-color: #f8fcfe;
    padding-top: 1px;
}

.container-5-title{
    color: #4e4e4e;
    font-family: Montserrat,sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 95px;
    text-align: center;
}

.container-5-title::before{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-left:918px;
    margin-top: 71px;
}

.container-5-title::after{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-top: 38px;
    margin-left:930px;
}

.tabs-work {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    width: 609px;
    height: 58px;
    background-color: white;
    margin-top: 102px;
}

.tabs-btn-work {
    padding: 15px 45px 20px;
    border: 1px solid #d2d2d2;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    list-style: none;
}

.tabs-btn-work:hover {
    color: #18cfab;
    transition: 0.4s;
    border-top: 3px solid #18cfab;
}

.active-amazing-work{
    color: #18cfab;
    border-top: 3px solid #18cfab;
}

.work-imgs{
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;;
    margin: 0 auto;
    padding-bottom: 71px;
    margin-top: 70px;
}

.img-box {
    position: relative;
}

.img-box-hidden{
    display: none;
}

.img-photo {
    margin-top: -5px;
}

.work-box {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 286px;
    height: 206px;
    background-color: #f8fcfe;
    position: absolute;
    transition-duration:0.5s;
    bottom: -20px;
    border-top: 3px solid #18cfab;
}

.img-box:hover .work-box {
    bottom: 0;
    opacity: 1;
}

.awesome-img{
    margin: 43px 0 34px;
}

.info-link {
    border: 1px solid #18cfab;
    border-radius: 20px;
    padding: 10px;
    color: #18cfab;
}

.search-link {
    background-color: #18cfab;
    padding: 11px;
    border-radius: 20px;
    color: #fff;
}

.img-words {
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.img-title {
    color: #8a8a8a;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.work-main-btn {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.fa-plus {
    margin-right: 13px;
    text-decoration: none;
    color: #ffffff;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.hide {
    display: none;
}

/*///////////////////////!*CONTAINER-6*!//////////////////////*/

.news-body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 102px;
}

.news-title{
    margin-top: 83px;
    color: #4e4e4e;
    font-family: Montserrat,sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.news-title::before{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-left:918px;
    margin-top: 71px;
}

.news-title::after{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-top: 37px;
    margin-left:930px;
}

.news-box{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #f8fcfe;
    height: 280px;
    margin-right: 27px;
    margin-bottom: 45px;
    position: relative;
}

.news-text{
    color: #717171;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 11px;
}

.news-subtitle-1{
    color: #777777;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
}

.news-subtitle-2::before{
    content: "";
    border:1px solid #777777;
    height: 14px;
    margin-right: 15px;
    margin-left: 15px;
}

.black-box{
    width: 68px;
    height: 66px;
    background-color: #203e38;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
}

.black-box-text-1{
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    line-height: 25.33px;
}

.black-box-text-2{
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.news-box:hover .black-box {
    background-color:#18cfab ;
    transition: 0.4s;
}

.news-box:hover .news-text{
    color: #18cfab;
    transition: 0.4s;
}


/*///////////////////////!*CONTAINER-7*!//////////////////////*/

.container-7{
    background-image: url(../img/section-3.jpg);
    height: 852px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #2e4a5b83;
    background-blend-mode: multiply;
}

.ham-title {
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 36px;
    font-weight: 400;
   text-align: center;
    padding-top: 100px;
}

.ham-title::before{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-left:534px;
    margin-top: 71px;
}

.ham-title::after{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    margin-top: 36px;
    margin-left:546px;
}

.fa-quote-left{
    width: 44px;
    height: 30px;
    color: #18cfab;
    margin-left: 566px;
    margin-top: 68px;
}

.ham-text{
    color: #bbbbbb;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
}

.celebrity{
    text-align: center;

}


.celebrity-title {
    color: #18cfab;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 38px;
}

.celebrity-work {
    color: #bbbbbb;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 25px;
}

.photo{
    margin: 0 auto 0;
    display: block;
    width: 143px;
    height: 142px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 11px rgba(24,207,171,0.27);
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    position: relative;
    padding-bottom: 104px;
}

.slider-photo {
    width: 59px;
    height: 59px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24,207,171,0.27);
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ;
}

.active-slider-photo {
    bottom: 25px;
    border-color: #18cfab;
}

.slider-switches {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 20px;
    text-decoration: none;
    color: grey;
}

.slider-switches:hover {
    background-color: #18cfab;
    border-color: #18cfab;
    color: white;
    cursor: pointer;
}

.slider-switches.left {
    left: 360px;
}

.slider-switches.right {
    right: 380px;
}

/*///////////!*CONTAINER-8*!/////////////*/

.container-8{
    width: 1920px;
    height: 108px;
    background-color: #22353f;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text{
    color: #aeaeae;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.footer-text-style{
    color: #18cfab;
}

.footer-text-style::after{
    content: "";
    height: 14px;
    width: 1px;
    border:1px solid #aeaeae ;
    margin: 0 5px;
}